.my-button {
    background-color: rgb(54, 88, 188);
    height: 40px;
    border: transparent;
    min-width: 150px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
}
.my-button:hover {
    background-color: rgb(50, 80, 171);
    cursor: pointer;
}
.my-button--primary {
    background-color: royalblue;
    border: none;
    color: white;
}
.my-button--bordered {
    background: none;
    border: 1.5px solid royalblue;
    color: royalblue;
}
.my-button--bordered:hover {
    color: white;
}
.my-button--primary:hover {
    background: rgb(0, 51, 132);
    color: white;
}

.my-button--sm {
    width: 20px;
    height: 30px;
}

.my-button--md {
    width: 50px;
    height: 50px;
}

.my-button--lg {
    width: 200px;

    height: 70px;
}
